body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
}

.header {
  background-color: green;
  color: white;
  position: relative;
  text-align: center;
  padding: 2rem;
}

.headerTitle {
  display: inline-block;
}

.userName {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-70%);
  font-weight: bold;
}
