.publicLayout {
  display: flex;
  min-height: 100vh;
}

.container {
  margin-left: 250px;
  padding: 2rem 1.5rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #f2efd7;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
    padding: 1.5rem;
  }
}

